.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem !important;

  &.light {
    color: #282c34;
    margin-bottom: 0;
  }

  img {
    padding-right: 3rem;
    height: 100px;
  }

  span {
    color: deepskyblue !important;
  }
}
