.dialog {
  .dialog-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      z-index: 2;
    }

    span {
      position: relative;
      left: -2rem;
      font-size: 1.5rem;
      font-weight: bolder;
      color: darkcyan;
      background-color: white;
      padding: 1rem 2rem 1rem 3rem;
      border-radius: 5px;
      text-transform: uppercase;
      box-shadow: 0px 0px 15px 5px #000000;
    }
  }

  .dialog-txt {
    color: #282c34;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 15px 5px #000000;
  }
}